# root directory
/classes
/build
/build-tests
/dist
/.externalToolBuilders
/.settings
/dependencies

# everywhere
.directory
*~
*.kdev4

*/bin/
*/*-SDK/

# /resources/images/
/resources/images/*.ico
/resources/images/*.png
/resources/images/*.gif
