# root directory
/.gradle/
/build/

# everywhere
.settings/
.project
.classpath
.directory
*~
*.kdev4
.*.swp

# /resources/images/
/resources/images/*.ico
/resources/images/*.png
/resources/images/*.gif
