# Auto detect text files and perform LF normalization
*          text=auto

*.ini      eol=crlf
*.warsetup eol=crlf
*.doc	   diff=astextplain
*.DOC	   diff=astextplain
*.docx     diff=astextplain
*.DOCX     diff=astextplain
*.dot      diff=astextplain
*.DOT      diff=astextplain
*.pdf      diff=astextplain
*.PDF	   diff=astextplain
*.rtf	   diff=astextplain
*.RTF	   diff=astextplain

# files that need specific EOL settings
*.spec     eol=lf
*.sh       eol=lf
*.bat      eol=crlf
*.cmd      eol=crlf
