[Desktop Entry]
Name=FullSync
GenericName=FullSync
Comment=Easy file synchronization for everyone. Version: #version
Exec=/usr/bin/FullSync
Icon=FullSync
Categories=Network;FileTransfer;
Type=Application
Terminal=false
