
# fix 404 from http://www.commentcamarche.net/forum/affich-28610058-je-voudrais-changer-de-disque-dur-externe
Redirect 301 /, https://fullsync.sourceforge.io/

# some legacy links from forum.html.it
Redirect 301 /features.html https://fullsync.sourceforge.io/features.php
