<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="FullSync" sequenceNumber="27">
<locations>
<location path="${workspace_loc:/net.sourceforge.fullsync.target/equinox-SDK}" type="Directory"/>
<location path="${project_loc:/net.sourceforge.fullsync.target}/libs" type="Directory"/>
</locations>
</target>
