@charset "utf-8";
body {
	font-size: 13pt;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	background-color: #f0f0f0;
	padding: 1em;
	margin: 0 auto;
	min-width: 900px;
	max-width: 1024px;
	width: 90%;
}

a {
	color: #003366;
	text-decoration: none;
	font-weight: bold;
}

a:link, a:visited, a:active {
	color: #003366;
}

a:hover, a:focus {
	color: #336699;
}

dt {
	font-weight: bold;
}

dd {
	padding-bottom: 15px;
}

#header {
	display: block;
	background-color: #C1CCD6;
	padding: .3em 1em;
	position: relative;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#header img {
	float: right;
}

#header h1 {
	color: #1F5C79;
	margin: .2em 0;
}

#header span {
	font-size: 80%;
	font-style: italic;
}

#menu {
	font-size: 14pt;
	text-align: center;
	background-color: #b7c1ca;
	font-weight: bold;
	line-height: 1.8em;
}

#mobile-menu-accessor {
	display: none;
}

#menu a:after {
	content: " - ";
	font-size: 80%;
	color: #000;
	font-weight: normal;
}

#menu a:last-child:after {
	content: "";
}

#help-banner {
	text-align: center;
	padding: .5em;
	background-color: white;
}

#help-banner div {
	border: 1px solid black;
	padding: .5em;
	border-radius: .6em;
	background-color: #C1CCD6;
}

#content {
	background-color: #fff;
	padding: 1em;
}

#content > h1 {
	margin-top: 0;
}

ol {
	list-style: disc;
	padding: 0 0 0 1em;
}

ol > li {
	margin: 1em 0;
}

ol ul {
	padding: 0 0 0 1em;
	margin: 0 0 0 1em;
	list-style-position: outside;
}

#obs-download-frame {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 450px;
}

#global-download-button {
	margin: 2em auto 1em auto;
	display: block;
	width: 13em;
	text-align: center;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#83af77 0%,
		#3b692e 50%,
		#3f6b33 50%,
		#175705);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#83af77),
		color-stop(0.50, #3b692e),
		color-stop(0.50, #3f6b33),
		to(#175705));
	-moz-border-radius: .8em;
	-webkit-border-radius: .8em;
	border-radius: .8em;
	border: 1px solid #000000;
	-moz-box-shadow: 3px 3px 3px rgba(000,000,000,0.5);
	-webkit-box-shadow: 3px 3px 3px rgba(000,000,000,0.5);
	box-shadow: 3px 3px 3px rgba(000,000,000,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
}
#global-download-button:hover {
	opacity: .8;
}

.twitter-follow-button {
	display: block;
	margin: 0 auto;
}

#footer-copyright {
	padding-top: 1em;
	line-height: 31px;
}

#footer-copyright:after {
	content: " ";
	clear: both;
}

#footer {
	margin: 0;
	padding: 0;
	display: block;
	height: 22px;
	background-color: #C1CCD6;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

@media only screen and (max-width: 900px) {
	body {
		width: auto;
		min-width: inherit;
		max-width: inherit;
		padding: 3px;
	}

	#menu a:not(#mobile-menu-accessor) {
		display: none;
	}

	#menu a:after {
		content: none;
	}

	#content > img {
		max-width: 100%;
	}

	#menu:target a:not(#mobile-menu-accessor) {
		display: block;
	}

	#menu a#mobile-menu-accessor {
		display: block;
	}
}
