name: Build

on:
  push:
    branches:
      - master
      - stable
  workflow_dispatch:
  pull_request:
  merge_group:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew assemble
      - run: ./gradlew spotlessCheck test jacocoRootReport
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2.3.6
